</div>
<h1>Bids</h1>

<a href="/bids/bidadd/">+ Add Bid</a>
{% if latest_bid_list %}
	<table border=1>
		<tr>
			<th>Bid at</th>
			<th>Aggragated</th>
			<th>&nbsp;</th>    
		</tr>
		{% for bid in latest_bid_list %}
		<tr>
			<td>
				<a href="/bids/bidedit/{{ bid.id }}/">
					{{ bid.User }} {{ bid.CreatedAt }}
				</a>
			</td>
			<td>
				{{ bid.Aggregated }}
			</td>
			<td>
				<a href="/bids/bidedit/{{ bid.id }}/">edit</a>
				<a href="/bids/biddel/{{ bid.id }}/">delete</a>
			</td>      
		</tr>
			{% endfor %}    
	</table>

{% else %}
	<p>No bid created.</p>
{% endif %}


