{% extends "base_doj.html" %}
{% load dojango_grid %}

{% block dojango_header_extra %}
<style type="text/css">
	@import "{{ DOJANGO.DOJOX_URL }}/grid/resources/Grid.css";
	@import "{{ DOJANGO.DOJOX_URL }}/grid/resources/{{ DOJANGO.THEME }}Grid.css";
	html,body{width:100%;height:100%;}
	.appHeader{font-size:3em;margin-left:0.5em;margin-top:0.8em;}
	.selectHeader{font-size:3em;margin-top:0.5em;margin-left:0.5em;}
	.topC{height:100px;background:#F78111;}
	.bottomPane{height:200px;background-color:#F78111;padding:0px;border:solid 1px;border-color: black}
	.leftC{height:200px;}
</style>

{% block liq_spot_header_extra %}
{% endblock %}

{% endblock %}

{% block dojango_content %}
	<div id="mainBC" dojoType="dijit.layout.BorderContainer" style="width:100%;height:100%;">
		<div region="top" class="topC" dojoType="dijit.layout.ContentPane" splitter="true"
				style='width: auto;height:70px;border:solid 1px;border-color: black'>
			<table style="width: 100%">
				<tr>
					<td><img src="{{ STATIC_URL }}images/liquidityspot_logo.jpg" alt="logo"/></td>
					<td style="margin: auto; color: #F78111; vertical-align: bottom; text-align: right;">
						<a href=&#39;/home&#39;>Home</a>&nbsp;&nbsp;&nbsp;
						<a href=&#39;/search&#39;>Search loans</a>&nbsp;&nbsp;&nbsp;
						<a href=&#39;/bids&#39;>Bids</a>&nbsp;&nbsp;&nbsp;
						<a href=&#39;/loans/listloans&#39;>List Loans</a>&nbsp;&nbsp;&nbsp;
						{% block liq_spot_menu %}
						{% endblock %}
						<a href=&#39;accounts/logout&#39;>Logout</a>&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</table>
		</div>
		{% block liq_spot_content %}
		{% endblock %}
		<div id="bottomPane" region="bottom" dojoType="dijit.layout.ContentPane" style="background:#AABFDC;" >
			<div id="footer">
				<p style="float: right;margin: 0 55px 0 0;">
				Design: Vichara Technologies,
				<a title="Vichara Technologies" href="http://www.vichara.com/">Vichara Technologies</a>
				</p>
				<p>
					&copy; Copyright 2012
					<a href="http://www.liquidityspot.com">Liquidity Spot</a> &middot; All Rights Reserved
				</p>
			</div>
		</div>
	</div>
	<div dojoType="dojox.widget.Toaster" id="movieAppToaster" positionDirection="br-left">
{% endblock %}
