{% extends "dojango/base_i18n.html" %}

{% block _dojango_dojo_styles %}
	<style type="text/css">
		@import "{{ DOJANGO.DOJO_URL }}/resources/dojo.css";
		@import "{{ DOJANGO.THEME_CSS_URL }}";
		@import "{{ DOJANGO.DOJO_URL }}/dijit/themes/claro/document.css";
		@import "css/common.css";
	</style>
{% endblock %}

{% block _dojango_dj_config %}
	var djConfig = {
		'isDebug':true{# DOJANGO.DEBUG|json #},
		'parseOnLoad':true,
		'baseUrl':"{{ DOJANGO.DOJO_BASE_PATH }}"
		require: [],
		// Add the array of modules to the require property
		//   allow child templates to add requires to
		//   dojoConfig
		// Return the instance, enabling concatenated calls
		addToRequire: function(array) {
			this.require = this.require.concat(array);
			return this;
		},
		// Add or replace the properties specified in obj
		// Return the instance, enabling concatenated calls
		addProperties: function(obj) {
			var prop;
			for(prop in obj){
				if(obj.hasOwnProperty(prop)) {
					this[prop] = obj[prop];
                        	}
                	}
	                return this;
		}
		{% if not DOJANGO.IS_LOCAL %}
		,'dojoBlankHtmlUrl':"{{ DOJANGO.DOJANGO_URL }}/resources/blank.html"
		,'dojoIframeHistoryUrl':"{{ DOJANGO.DOJANGO_URL }}/resources/blank.html"
		{% endif %}
		{% if DOJANGO.CDN_USE_SSL and not DOJANGO.IS_LOCAL %}
			,'modulePaths':{'dojo': '{{ DOJANGO.DOJO_URL }}', 'dijit': '{{ DOJANGO.DIJIT_URL }}', 'dojox': '{{ DOJANGO.DOJOX_URL }}'}
		{% endif %}
	};
{% endblock %}	

{% block dojango_content %}
    {# PLACE YOUR FORMS HERE #}
    {% block content %}
    {% endblock %}
{% endblock %}
