{% extends "base.html" %}

{# Mira en dnde poner la siguiente lnea, debe ir antes del <script> #}
  {# block.super #}
{% block _dojango_dj_config %}
    dojoConfig.addToRequire([
      "dijit.layout.BorderContainer",
      "dijit.layout.ContentPane"
    ]);
{% endblock %}

{% block dojango_body %}
<body class="{{ DOJANGO.THEME }}">
    <div id = "topLevelContainer" dojoType="dijit.layout.BorderContainer" design="headline"
         isLayoutContainer="true" gutters='false' style="height:100%;width:100%;">
      <div dojoType = "dijit.layout.ContentPane" region = "top" title="Filtros" style='width: auto;height:
	      70px;border:solid 1px;border-color: black'>
        <table style="width: 100%">
          <tr>
		  <td><img src="{{ STATIC_URL }}liquidityspot_logo.jpg" alt="logo"/></td>
	     <td style="margin: auto; color: #F78111; vertical-align: bottom; text-align: right;">
               {% for menuPage in menuPages %}
                 <a href={{ menuPage.url }}>{{ menuPage.text }}</a>&nbsp;&nbsp;&nbsp;
	       {% endfor %}
               {% block  menuAnchors %}
               {% endblock menuAnchors %}
	     </td>
          </tr>
        </table>
      </div>
      <div id="mainView" dojoType="dijit.layout.ContentPane" region="center" style="overflow: hidden;">
        {% block content %}
	{% endblock content %}
      </div>
    </div> 
</body>
{% endblock %}

