<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Liquidity Spot</title>
<!-- css -->
<link rel="stylesheet" type="text/css"
  href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css"
	href="css/common.css" />

<!-- 3rd party libs -->
<script>
  dojoConfig = {
    parseOnLoad : true,
    isDebug : true,
    baseUrl : "./",
    require : ["dijit.form.Button"
                ]
    };
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js"></script>
</head>
<body class='claro'>
  	<div id = 'screenTitle'>Welcome to the exchange</div>
	<div id = 'menu'>
  		<div class='topMenuLeft'>
  			{% for menuPage in menuPages %}
    		<button dojoType='dijit.form.Button' onclick="location.href={{ menuPage.url }}">{{ menuPage.text }}</button>
			{% endfor %}
    	</div>
  	</div>
  	<div id = 'content'/>
</body>
</html>
