{% extends "dojango/base_i18n.html" %}
{% block dojango_page_title %}Liquidity Spot{% endblock %}

{% block dojango_content %}
{% if is_logged_in %}
	{% if "Admin" in Groups %}
	Admin
	{% else %}{% if "MO" in Groups %}
	MO
	{% else %}{% if "Broker" in Groups %}
	Broker
	{% else %}{% if "Engine" in Groups %}
	Engine
	{% else %}
		<p>You don't have permissions to work in Liquidity Spot, ask to the Administrator.<\p>
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %} 
<!-- TODO add a javascript to redirect to login -->
{% else %}
	Please log in.
{% endif %}
{% endblock %}
