{% extends "dojango/base_i18n.html" %}
{% block dojango_page_title %}Liquidity Spot{% endblock %}

{% block dojango_content %}
{% if is_logged_in %}
	{% if "Admin" in Groups %}
	<p><a href="/accounts/logout">Logout</a></p>
	<p><a href="/accounts/register">Register a new user</a></p>
	<p><a href="/loans/listLoans">List of Loans</a></p>
	<p><a href="/loans/loadLoans">Load Loans</a></p>
	<p><a href="/loans/delLoans">Del Loans</a></p>
	<p><a href="/bids/bids">Bids</a></p>
	<!--p><a href="/bids/addbid">Add bid</a></p>
	<p><a href="/bids/mybids">My Bids</a></p>
	<p><a href="/bids/addbid">Load Bids</a></p-->
	<p><a href="/calc/">Calculate Rates and Allocate Loans</a></p>
	<p><a href="/calc/del">Delete Loans Allocation</a></p>
	{% else %}{% if "MO" in Groups %}
	MO
	{% else %}{% if "Broker" in Groups %}
	Broker
	{% else %}{% if "Engine" in Groups %}
	Engine
	{% else %}
		<p>You don't have permissions to work in Liquidity Spot, ask to the Administrator.<\p>
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %} 
<!-- TODO add a javascript to redirect to login -->
{% else %}
	Please log in.
	<p><a href="/accounts/login?next=/">Login</a></p>
{% endif %}
{% endblock %}
