<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Liquidity Spot</title>
<!-- css -->
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojox/grid/enhanced/resources/claro/EnhancedGrid.css" />
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojox/grid/resources/claroGrid.css" />
<link rel="stylesheet" type="text/css"
	href="css/common.css" />

<!-- 3rd party libs -->
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js"
	djConfig="parseOnLoad: true"></script>

<!-- own js -->
<script type="text/javascript" src="scripts/mybids.js"></script>

</head>
<body class='claro'>
  <div id = 'screenTitle'>My bids</div>
  	<div>
		<button dojoType='dijit.form.Button' id='cleanBids' onClick='cleanBidsClick'>Clean bids</button>
		<button dojoType='dijit.form.Button' id="home" onclick="location.href='/home'">Home</button>
		<button dojoType='dijit.form.Button' onclick="location.href='/search'">Search assets</button>
		<button dojoType='dijit.form.Button' onclick="location.href='/logout'">Logout</button>
  	</div>
	<div style="width:100%;height:100%;" dojoType="dijit.layout.ContentPane">
		<div id="grid"></div>
	</div>
</body>
</html>