{% extends "header_footer.html" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/grid/enhanced/resources/claro/EnhancedGrid.css" />
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css" />
{% endblock stylesheets%}
{% block content %}
<h1 align='center'>Something went wrong with your request.</h1>
{% endblock content %}
