<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Liquidity Spot</title>
<!-- css -->
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/grid/enhanced/resources/claro/EnhancedGrid.css" />
<link rel="stylesheet" type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/grid/resources/claroGrid.css" />
<link rel='stylesheet' type='text/css' 
	href='http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/form/resources/RangeSlider.css'/>		
<link rel="stylesheet" type="text/css"
	href="css/common.css" />

<!-- 3rd party libs -->
<script>
	dojoConfig = {
		parseOnLoad : true,
		isDebug : true,
		baseUrl : "./",
		modulePaths : {
			ls: "scripts"
		},
		require : ["dijit.TitlePane",
    	          "dojo.data.ItemFileReadStore",
    	          "dojo.data.ItemFileWriteStore",
    	          "dojo.number",
    	          "dijit.form.NumberTextBox",
    	          "dijit.form.Select",
    	          "dijit.layout.BorderContainer",
    	          "dijit.layout.ContentPane",
    	          "dijit.form.Button",
    	          "dojox.grid.EnhancedGrid",
    	          "dojox.form.RangeSlider",
    	          "dijit.form.CheckBox",
    	          "dijit.Dialog"
    	          ]
    };
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js"></script>
<script type="text/javascript" src="scripts/transpose.js"></script>
<!-- own js -->
<script type="text/javascript" src="scripts/myscript.js"></script>

<style type="text/css">
td.mytd {
vertical-align: top;
border: 3px solid black; 
border-radius: 15px; 
border-color: #EBEBEB; 
padding: 10px;
font-size: 14px;
}
</style>

</head>
<body class='claro'>
  	<div id = 'screenTitle'>Search loans</div>
  	<div id = 'menu'>
  		<div class='topMenuLeft'>
  			{% for menuPage in menuPages %}
    		<button dojoType='dijit.form.Button' onclick="location.href={{ menuPage.url }}">{{ menuPage.text }}</button>
			{% endfor %}
  		</div>
  	</div>
  	<div id="filters" data-dojo-type="dijit.TitlePane" data-dojo-props="title: 'Loan Filters'">
		<table style='margin:auto;width:100%'>
			<tr>
				<td class='mytd' style='width:25%'>
					<span>Core Logic Fraud Risk Score</span>
					<div id="CoreLogicFraudRiskRangeSlider"></div>
					<span id="CoreLogicFraudRiskRange">[0,1000]</span></br> 
					<span>Core Logic Collateral Risk Score</span>
					<div id="CoreLogicCollateralRiskRangeSlider"></div>
					<span id="CoreLogicCollateralRiskRange">[0,1000]</span></br>
					<span>Acceptable FICO Range</span>
					<div id="ficoRangeSlider"></div>
					<span id="ficoRange">[0,1000]</span> 
				</td>
				<td class='mytd'style='width:25%'>
					<span>Loan Amount (minimum)</span>
					<div id="minLoanAmount"></div>
					</br></br>
					<span>Loan Amount (maximum)</span>
					<div id="maxLoanAmount"></div>
					</br></br>
					<span>Max Loan to Value (LTV)</span>
					<div id="maxLTV"></div>
					</br></br>
					<span>Max Combined LTV (CLTV)</span>
					<div id="maxCLTV"></div>
					</br></br>
					<span>Max advance %</span>
					<div id="maxAdv"></div>
				</td>				
				<td class='mytd' style='width:50%'>
					<span>Lien Type</span>
					<div id="lienType"></div>
					</br></br>
					<span>Loan Type (select to apply):</span></br>
					<div id= "loanType"></div>
					</br>
					<span>Property Type (select to apply):</span></br>
					<div id='propertyType'></div>
					</br>
					<div data-dojo-type="dijit.TitlePane" data-dojo-props="title: 'Acceptable States'">
						<div id='states'></div>
					</div>	
				</td>
			</tr>
			<tr>
				<td>
					<button dojoType='dijit.form.Button' id="apply" onClick="findMyAssetsClick">Find My Assets</button>
				</td>
			</tr>
		</table>   			
	</div>
	<button dojoType='dijit.form.Button' id="placeBids" onClick="placeBidsClick">Create bids for selected loans</button>
	<button dojoType='dijit.form.Button' id="downloadDetails" onClick="downloadDetailsClick">Download selected loans details</button>
	<span style="font-size:80%">Click to select a loan, Ctrl-click to select mutliple loans and Shift-click for a range of loans.</span>
	<span style="font-size:80%">Right-click on a loan to see full loan details.</span></br>
	<div id='loanCount' style="font-size:80%; color:red; text-align:center">Showing all loans.</div>
	<div style="width:99%;height:80%;" dojoType="dijit.layout.ContentPane">
		<div id="grid"></div>
	</div>
	<form id="downloadForm" method="post" action="#">
    	<input type="hidden" id="downloadInfo" name="bids" />
	</form>
</body>
</html>
