html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

/*Grid need a explicit width/height by default*/
#grid {
	width: 100%;
	height: 100%;
}

#screenTitle {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}
