{% extends "base_hf_doj.html" %}

{% block liq_spot_page_title %}
Bids in Liquidity Spot
{% endblock %}

{% block liq_spot_content %}
<h1>Bid's {{ User }}</h1>

<a href="/bids/bidadd/">+ Add Bid</a>
{% if active_bid_list %}
	<table border=1>
		<tr>
			<th>Bid at</th>
			<th>Aggragated</th>
			<th>&nbsp;</th>    
		</tr>
		{% for bid in active_bid_list %}
		<tr>
			<td>
				<a href="/bids/bidedit/{{ bid.id }}/">
					{{ bid.CreatedAt }}
				</a>
			</td>
			<td>
				{{ bid.Aggregated }}
			</td>
			<td>
				<a href="/bids/bidedit/{{ bid.id }}/">edit</a>
				<a href="/bids/biddel/{{ bid.id }}/">delete</a>
				<a href="/bids/bidcancel/{{ bid.id }}/">cancel</a>
			</td>      
		</tr>
			{% endfor %}    
	</table>

{% else %}
	<p>No bid created.</p>
{% endif %}

{% if accepted_bid_list %}
<h1>Bids Acepted</h1>
	<table border=1>
		<tr>
			<th>Bid at</th>
			<th>Aggragated</th>
		</tr>
		{% for bid in accepted_bid_list %}
		<tr>
			<td>
				<a href="/bids/bidedit/{{ bid.id }}/">
					{{ bid.CreatedAt }}
				</a>
			</td>
			<td>
				{{ bid.Aggregated }}
			</td>
		</tr>
			{% endfor %}    
	</table>

{% else %}
	<p>No bid Acepted.</p>
{% endif %}

{% if canceled_bid_list %}
<h1>Bids Canceled</h1>
	<table border=1>
		<tr>
			<th>Bid at</th>
			<th>Aggragated</th>
		</tr>
		{% for bid in canceled_bid_list %}
		<tr>
			<td>
				<a href="/bids/bidedit/{{ bid.id }}/">
					{{ bid.CreatedAt }}
				</a>
			</td>
			<td>
				{{ bid.Aggregated }}
			</td>
		</tr>
			{% endfor %}    
	</table>

{% endif %}
{% endblock %}
