{% extends "base_hf.html" %}

{% block liq_spot_dojo_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
    href="{{ DOJANGO.DOJOX_URL }}/grid/enhanced/resources/claro/EnhancedGrid.css" />
<link rel="stylesheet" type="text/css"
    href="{{ DOJANGO.DOJOX_URL }}/grid/enhanced/resources/EnhancedGrid_rtl.css" />
{% endblock %}

{% block dojango_header_extra %}
<script type="text/javascript">
	loans = {{ loans|safe }};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}loans.js"></script>
{% endblock %}

{% block liq_spot_content_hf %}
<div id="gridDiv"></div>
{% endblock %}
